body {
    background-color: #3f3f3f;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #242424;
    padding: 20px;
    border-radius: 10px;
}

.input-group input {
    background-color: #333;
    color: #ffffff;
    border: 1px solid #555;
}

.input-group input:enabled{
    background-color: #333;
    color: #ffffff;
    border: 1px solid #555;
}

.input-group input::placeholder {
    color: #bbbbbb;
}

.list-group-item {
    background-color: #222;
    color: #ffffff;
    border: 1px solid #444;
}

.list-group-item .btn {
    color: #fff;
}

.list-group-item .btn-success {
    background-color: #198754;
}

.list-group-item .btn-danger {
    background-color: #dc3545;
}

.comprado {
    text-decoration: line-through;
    color: #8f8f8f;
}

.fondo-comprado{
    background-color: #121212;
}

.lista-item .edit-icon {
    display: none;
    cursor: pointer;
    margin-left: 10px;
}

.lista-item:hover .edit-icon {
    display: inline-block;
}
